<div class="con">

 <div class="login-page"> 
 
  <div class="form">
       <h3>ADMIN LOGIN</h3>
    <form class="login-form" action="/admin/ad-login" method="post">
      <input type="text" name="Email" placeholder="username" required />
      <input type="password" name="Password" placeholder="password" required/>
       <p class="error text-danger mt-2" >{{err}}</p>
      <button>login</button>
     
    </form>
  </div>
</div>
</div>