<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <span class="ml-1">Element</span>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Element</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Coupon</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">

                            {{#if success}}
                            <p class="text text-center text-success">Coupon added Successfully</p>
                            {{/if}}
                            <form class="p-5 border mb-5" action="/admin/add-coupon" method="post" id="couponForm">


                                <div class="form-group">
                                    <label for="inputProduct4">Coupon Code</label>
                                    <input type="text" required class="form-control inpfield" name="couponCode"
                                        minlength="5" maxlength="5" >
                                    {{#if exist}}
                                    <p class="text text-danger">Coupon code is already Exist</p>
                                    {{/if}}


                                </div>

                                {{!--
                                <div class="form-group form-row mb-3">
                                    <label for="inputProduct4">Description</label>
                                    <input type="text" id="defaultRegisterFormEmail" class="form-control"
                                        name="description">
                                </div> --}}
                                <div class="form-row mb-3">

                                    <div class="group col-md-6">
                                        <label>Coupon Type</label>
                                        <select name="couponType" class="form-control ">
                                            <option value="none" selected hidden></option>
                                            <option value="Percentage Discount">Percentage Discount</option>
                                            <option value="Amount Discount">Amount Discount</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputBrand4">Coupon Value</label>
                                        <input type="text" required class="form-control inpfield" name="couponValue">
                                    </div>

                                </div>

                                <div class="form-row">

                                    <div class="form-group col-md-6">

                                        <label for="inputStock4">Coupon Valid : From</label><br>

                                        <input type="text" placeholder="DD-MM-YYYY" onfocus="(this.type='date')"
                                            class="form-control inpfield" name="couponValidFrom">
                                    </div>
                                    <div class="form-group col-md-6">

                                        <label for="inputPricek4">To</label>
                                        <input type="text" placeholder="DD-MM-YYYY " onfocus="(this.type='date')"
                                            required class="form-control inpfield" name="couponValidTo">
                                    </div>
                                </div>


                                <div class="form-row mb-3">

                                    <div class="form-group col-md-6">
                                        <label for="inputBrand4">Minimum Purchase Amount </label>
                                        <input type="text" required class="form-control inpfield" name="minValue">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputBrand4">Maximum Purchase Amount </label>
                                        <input type="text" required class="form-control inpfield" name="maxValue">
                                    </div>

                                </div>

                                <div class="form-row mb-3">

                                    <div class="form-group col-md-6 ">
                                        <label for="inputBrand4">Usage limit for the coupon </label>
                                        <input type="text" required class="form-control inpfield" name="limit">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputBrand4">No of times the user can use this discount </label>
                                        <input type="text" required class="form-control inpfield"
                                            name="couponUsageLimit">
                                    </div>


                                </div>
                                <div class="text-center mt-5">
                                    <button type="submit" class="btn btn-primary">Add Coupon</button>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>