<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="/login-page"><img src="/user/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="/login-page">
            <p>LOGIN</p>
        </a>

    </div>
</div>
<!-- Offcanvas Menu End -->









<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">




        <div class="row">
            <div class=" col-lg-1">
                <div class="header__logo">
                    <img src="/user/img/logo2.png" alt="">
                </div>
            </div>



            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>

                        {{!-- <li><a href="#">Men’s</a></li> --}}
                        <li><a href="/shop">Shop</a></li>
                       
                       
                        <li><a href="/cart">Cart</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-5 ">
                <div class="header__right">
                    <div class="header__m" style="display: contents;">
                        <ul class="dro">
                            {{#if user}}
                            <li><a href="#">{{user.FirstName }}</a>
                                <ul class="dropdown">
                                    <li><a href="/account">Account Settings</a></li>
                                    <li><a href="/order-details">Orders</a></li>

                                    <li><a href="/logout">Logout</a></li>
                                    {{else}}
                                    <li> <a href="/login">Login</a>
                                </ul>
                            </li>
                            {{/if}}
                        </ul>
                    </div>

                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li><a href="/wishlist"><span class="icon_heart_alt"></span>

                            </a></li>
                        <li><a href="/cart"><span class="icon_bag_alt"></span>
                                {{#if user}}
                                <div class="tip"><span class="badge" id="cart-count">{{countCart}}</span></div> {{/if}}
                            </a></li>
                    </ul>
                </div>
            </div>



        </div>

        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->