<a href=""><img src="/user/img/empty/unreg.png" alt="Colorlib logo" class="mb-2" style="width:500px ; height:350px"></a>
<h4 style="text-align:center; ">Unrecognized Error</h4>
<div class="form mt-4" style="padding:0px;">
    <a href="/" > <button>BACK TO HOME</button>  </a>
    </div> 


    <style>
img {
  margin: 0 auto;
  display: block;
  margin-top: 5%;
}
</style>