<a href=""><img src="/user/img/empty/scs.gif" alt="Colorlib logo" class="mb-2"></a>
<h4 style="text-align:center; ">Your Order Placed Successfully (:</h4>
<div class="form mt-4" style="padding:0px;">
    <a href="/order-details"> <button>Order Details</button> </a>
</div>




<style>

    img {
        width: 200px;
       
        margin: 0 auto;
        display: block;
        margin-top: 5%;
    }
</style>